$body-bg: #121212;
// $sidebar-bg: #1d1d2a;
$sidebar-bg: #1d1d2a;
// $main-color: #029aef;
$main-color: #ffa500;
$txt-color: #fff;

$white: #fff;
$dark-color: #3e4555;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 80px;
$header-shrink-height: 5rem;
// $border-radius: 30px;
$border-radius: 10px;

$mobile-width: 600px;
$tablet-width: 1024px;

// $font-family: "Open Sans", sans-serif;
$font-family: "Roboto", sans-serif;
$title-font-family: "Roboto", sans-serif;
